{:duct.profile/base
 {:duct.core/project-ns twarc-test

  :magnet.scheduling/twarc
  {:postgres-url #duct/env ["JDBC_DATABASE_URL" Str]
   :scheduler-name "main-scheduler"
   :logger #ig/ref :duct/logger}}

 :duct.profile/dev {}
 :duct.profile/prod {}

 :duct.module/logging {}

 :duct.module/sql {:database-url #duct/env ["JDBC_DATABASE_URL" Str]}
 :magnet.module.scheduling/twarc-pgsql {}
 }
